footer {
    z-index: 5;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    height: fit-content;
    overflow: hidden;
    justify-content: center;
    margin: 0;
    font-size: 10pt;
    line-height: 8pt;
    padding: 0.25rem;
    opacity: 0;
    transition: all 1s;
}

footer.loaded {
    opacity: 1;
}

footer div {
    margin: 0;
    padding: 0.25rem;
    color: darkslategrey;
}

footer b {
    color: darkred;
}

footer u {
    color: darkred;
}