header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    justify-content: center;
    background-color: #0A0504;
}

header ul {
    max-width: fit-content;
    margin: 0.2rem;
    padding: 0 2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
}

header p {
    color: goldenrod;
    margin: 0.2rem;
}

header a {
    text-decoration: none;
    text-underline-offset: 0.575rem;
}

header a:hover {
    text-decoration: underline;
    text-shadow: #000;
    text-decoration-color: red;
    cursor: pointer;
}

.back-container {
    display: flex;
    position: absolute;
    top: 2vh;
    height: 2vh;
    z-index: 2;
    background: #000;
    width: 100%;
}

.back-container a {
    left: 6.75em;
    margin: auto;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    height: 2vh;
    overflow: hidden;
    align-content: center;
    z-index: 3;
}

.back-container a, nav a {
    text-align: center;
    align-self: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.back-container a:hover, nav a:hover {
    text-decoration: underline;
    text-shadow: #000;
    cursor: pointer;
    background-color: darkred;
}

.nav-container {
    display: flex;
    margin: auto;
}

.full-width {
    max-width: max-content;
    position: absolute;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("images/plaster-bg.jpg");
    background-size: contain;
}

div b {
    color: red;
}

ul u {
    color: darkgoldenrod;
}

article {
    width: calc(100% + 4rem);
    margin: -2rem;
    display: block;
    line-height: 1.5em;
    top: 0;
    overflow: hidden;
    /* padding-left: 2em;
    padding-bottom: 1em; */
}

.banner {
    display: flex;
    position: relative;
    top: 0;
    height: max-content;
    align-content: center;
    overflow: hidden;
}

.banner img {
    background-image: url("images/mem-banner-lowres.jpg");
    max-width: 100%;
    height: auto;
    object-fit: contain !important;
    object-position: center;
}


.type-logo-container {
    top: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: fit-content;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.type-logo {
    display: block;
    position: relative;
    margin: auto;
    top: 6vh;
    width: 28%;
    height: auto;
    object-fit: contain !important;
    object-position: center;
}

.subtitle {
    position: relative;
    font-family: "Cal Sans", sans-serif;
    font-size: 18pt;
    font-weight: 100;
    line-height: 24pt;
    letter-spacing: 2pt;
    padding-top: 4rem;
    color: white;
}


.slice-container {
    position: relative;
    display: block;
    height: fit-content;
    top: -4rem;
    padding: 2rem 18%;
    align-items: center;
}


.slice {
    display: flex;
    position: relative;
    height: fit-content;
    vertical-align: middle;
    margin: auto;
}

.slice img {
    padding: 2rem;
    margin: auto;
}

.slice div {
    padding: 1rem;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    font-weight: 200;
    line-height: 24pt;
    letter-spacing: 1pt;
}


.align-start {
    align-self: flex-start;
    left: 0;
}


.align-end {
    align-self: flex-end;
    right: 0;
}


.padding-no-top-bottom {
    padding: 0 4rem;
}


.padding-medium {
    padding: 4rem;
}


.padding-large {
    padding: 6rem;
}


#links-offset {
    display: block;
    position: relative;
    height: 0;
    margin-top: -8rem;
}


.links-container {
    position: relative;
    display: block;
    /* height: fit-content; */
    align-items: center;
    /* padding-top: 8em; */
}


.links {
    align-self: center;
    align-items: center;
    text-align: center;
    max-width: 60%;
    max-height: 100%;
    margin: auto;
    /* height: 20%; */
    display: block;
    /* background-color: black; */


}

.border-image {
    border-image-source: url("images/hero-bg.jpg");
    border-image-slice: 10% fill;
    border-image-width: 48px;
    border-image-repeat: repeat;
}


.links h1 {
    text-align: center;
}

.links span {
    color: red;
}

.link {
    color:white;
    text-decoration-color: white;
    margin: auto;
    display: flex;
    transition: all 0.5s;
}

.link:hover {
    color:red;
    cursor: pointer;
    text-decoration-color: red;
}

.link-item-spacer {
    position: relative;
    width: 100%;
    height: 2rem;
}

#link-row-spacer {
    position: relative;
    height: 1rem;
    width: 100%;
}

.links-info {
    margin: auto;
    max-width: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    font-weight: 50;
    line-height: 24pt;
    letter-spacing: 1pt;
}

.links-info i {
    color:red;
    margin: 0 0.25rem;
}

.flex {
    display: flex;
}

.features-container {
    position: relative;
    display: block;
    height: fit-content;
    align-items: center;
}

.features {
    position: relative;
    display: block;
    height: min-content;
    align-items: center;
    padding: 10%;
    max-width: 50vw;
    /* background-position: center; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}

.features-summary {
    margin: auto;
    font-family: "Cal Sans", sans-serif;
    font-size: 24pt;
    font-weight: 50;
    line-height: 48pt;
    letter-spacing: 2pt;
}

.features-body {
    padding: 2rem;
}

ul {
    letter-spacing: 2pt;
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    font-weight: 50;
    line-height: 24pt;
}

.features-body li {
    margin: 1rem;
}

ul b {
    margin: 1rem -1rem;
    list-style-type: none;
}

.gallery-container {
    max-width: 70%; 
    display: flex;
    position: relative;
    height: fit-content;
}

.gallery-container span {
    display: inline-block;
    flex-flow: row nowrap;
    align-self: center;
    align-items: stretch;
    margin: auto;
}

.gallery-container img {
    display: block;
    padding: 1rem;
    width: 100%;
    object-fit: contain;
}

#gallery-offset {
    display: block;
    position: relative;
    height: 0;
    margin: -3rem 0;
}


div .link-row {
    position: inherit;
    align-items: center;
}


a .link {
    display: inline-block;
    position: relative;
    margin: auto;
}


a img {
    align-self: center;
    max-width: 24px;
    max-height: 24px;
    margin: 4px;
    transition: inherit;
}

a:hover img {
    filter: invert(81%) sepia(98%) saturate(7500%) hue-rotate(2deg) brightness(103%) contrast(104%);

}

a p {
    display: inline-block;
    color: inherit;
    transition: inherit;
}

#footer-offset {
    display: block;
    position: relative;
    height: 0;
    margin-top: -6rem;
}